# This is a sample desktop entry
# The <$EXECUTABLE> and <$ICON> variables must be replaced with the
# paths to the executable and icon by the installer.

[Desktop Entry]
Type=Application
Name=N.E.W.T.
Comment=A test program for the wizard
Exec=<$EXECUTABLE> %F
Icon=<$ICON>
Terminal=true
MimeType=text/custom-type-1;text/custom-type-2

